.tags {
display: flex;
border-top: 1px solid #e8e8e8;
/* height: 100px; */
overflow-x: scroll;
align-items: center;
padding: 10px;
}

.tag{
    /* width: 80px; */

    /* flex-basis: rem; */
    /* height: 80px; */
    object-fit: contain;

    
}

#linktag{
    color: aqua;
    cursor: pointer;
    }
  
#linktag:hover{
    color: aqua
}
#usertag{
    color: chartreuse;
    cursor: pointer;
    }
  
#usertag:hover{
    color: chartreuse;
}